@model ClassLibraryDiploma.RegisterViewModelWorkihg


<style>


    input {
        width: 300px;
        height: 40px;
        text-align: center;
        margin-top: 20px
    }



    #button {
        margin-top: 20px;
        margin-bottom: 40px;
        width: 150px;
        height: 40px;
        background-color: #5d1aed;
        color: white;
        border-radius: 20px;
        font-size: 16px;
    }

        #button:active {
            background: #1b0087;
            border-radius: 20px;
            border: none;
            outline: none;
            font-size: 14px;
        }

    input {
        width: 300px;
        height: 40px;
        text-align: center;
        margin-top: 20px;
    }

    body {
        margin: 0;
        font-family: arial;
        background: url(../../Content/Images/Stanok.jpg) no-repeat center center fixed;
        background-size: 100%;
        min-height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
        background-size: cover;
    }

    header {
        background-color: #000;
        width: 100%;
        height: 90px;
        text-align: center;
        padding-top: 20px;
        margin: 0px;
    }

    footer {
        background-color: black;
        width: 100%;
        height: 50px;
        margin-top: 265px;
        color: white;
        text-align: center;
        padding-top: 30px;
        font-size: 18px;
        position: absolute;
        bottom: 0;
        left: 0;
    }



    .Pozi {
        margin-left: 3%;
    }

    a {
        font-family: Arial;
        text-decoration: none;
        color: white;
        padding: 10px;
    }

        a:hover {
            background: #5d1aed;
            border-radius: 20px;
        }
</style>
<body>
    <header style="align-content:center; text-align:center;">
        <div style="padding:0px; text-align:center; margin-left:5%">
            <img src="~/Content/Images/SlonikLogo.jpg" style="width: 4%; margin:
             0px; float: left; border-radius: 50px; margin-top: -0.5%">
            <p style="color: white; float: left; font-family: arial; font-size:
            30px;margin: 0; margin-left: 0.5%; ">Slonik working</p>
        </div>

        <div style="display:inline-block; padding:0; margin-left:0%; margin-top:0.7%">
            <a href="~/Robotnik/IndexRospred">Главная</a>
            <a href="~/Section/SectionList_Rospred">Участки</a>
            <a href="~/Equipment/EquipmentList_Rospred">Оборудование</a>
            <a href="~/Robotnik/ProizvodkListGet">Рабочие</a>
            <a href="~/Working/RegisterWorking">Создать задание</a>
            <a href="~/Working/WorkingsList">Все задания</a>
            <a href="~/Robotnik/ReposttList">Отчёт</a>
            <a href="~/Home/Exit">Выход</a>
        </div>
    </header>


    <div style="        background-color: #ccc8c8;
        border: solid;
        border-color: black;
        padding: 3%;
        margin: 2%;
        border-radius: 25px;
        box-shadow: 0px 0px 5px 1px black;">
        <h2>Добавление детали  </h2>
        <form method="post" asp-controller="Working" asp-action="RegisterWorking" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Name"></label><br />
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="NumZakaz"></label><br />
                <input asp-for="NumZakaz" />
                <span asp-validation-for="NumZakaz"></span>
            </div>

            <div>
                <label asp-for="Price"></label><br />
                <input asp-for="Price" />

            </div>
            <div>
                <label asp-for="LeadTime"></label><br />
                <input asp-for="LeadTime" />

            </div>
            <p>
                <select name="Saiz" required="required">
                    <option value="">количество </option>
                    @for (int i = 0; i < 20; i++)
                    {

                        <option value=@i>@i</option>


                    }


                </select>
            </p><br />


            <p>
                <select name="Sostoynie" required="required">
                    <option value="">% Выполнения </option>
                    <option value="10">выполнено на 10%</option>
                    <option value="20">выполнено на 20%</option>
                    <option value="30">выполнено на 30%</option>
                    <option value="40">выполнено на 40%</option>
                    <option value="50">выполнено на 50%</option>
                    <option value="60">выполнено на 60%</option>
                    <option value="70">выполнено на 70%</option>
                    <option value="80">выполнено на 80%</option>
                    <option value="90">выполнено на 90%</option>
                    <option value="100">выполнено на 100%</option>

                </select>
            </p><br />
            <div>
                <label asp-for="Notice"></label><br />
                <input asp-for="Notice" />

            </div>


            <input type="file" name="uploadedFile" /><br>
            @*<input type="submit" value="Загрузить" />*@

            <div style="font-size:18px">
                <label style="font-size:18px" asp-for="DepartmentId"></label><br />

                <select style="font-size:16px" id="depSelect" asp-items="@(ViewBag.Departments as SelectList)" asp-for="DepartmentId" onchange="onSectionChange(event)"></select>
                <span asp-validation-for="DepartmentId"></span>
            </div>
            <div style="font-size:18px" id="sectionsDiv"></div><br />

            <div id="equipDiv"></div>
            <label for="name"></label>

            <div>
                <input type="submit" value="Регистрация" />
            </div>
        </form>


    </div>

</body>
@section Scripts{
<script type="text/javascript">

        async function onSectionChange(e) {
           
        console.log(e.target.value);
        await getSections(e.target.value);

        };
        async function onDepartmentChange(e) {
           
        console.log(e.target.value);
        await getEquipment(e.target.value);

        };
        async function getSections(depId) {

            const response = await fetch("/account/getsections/?id=" + depId, {
            method: "GET",
            });


        if (response.ok === true) {
                const htmlData = await response.text();
        let sectionsDiv = document.getElementById("sectionsDiv");
        sectionsDiv.innerHTML = htmlData;
            }
        }

        async function getEquipment(sectionId) {

            const response = await fetch("/account/getEquipment?id=" + sectionId, {
            method: "GET",
            });


        if (response.ok === true) {
                const htmlData = await response.text();
        let equipDiv = document.getElementById("equipDiv");
        equipDiv.innerHTML = htmlData;
            }
        }
    

</script>
}


