@model ClassLibraryDiploma.LoginModel


<style>
    form {
        padding: 10px;
        margin: auto;
        margin-top: 200px;
        height: 350px;
        width: 400px;
        border: 200px 400px;
        background-color: aliceblue;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0px 0px 5px 5px black;
    }

    input {
        width: 300px;
        height: 40px;
        text-align: center;
        margin-top: 20px
    }

    

    #button {
        margin-top: 20px;
        margin-bottom: 40px;
        width: 150px;
        height: 40px;
        background-color: #5d1aed;
        color: white;
        border-radius: 20px;
        font-size: 16px;
    }

        #button:active {
            background: #1b0087;
            border-radius: 20px;
            border: none;
            outline: none;
            font-size: 14px;
        }

    input {
        width: 300px;
        height: 40px;
        text-align: center;
        margin-top: 20px;
    }

    body {
        margin: 0;
        font-family: arial;
        background: url(../../Content/Images/Stanok.jpg) no-repeat center center fixed;
        background-size: 100%;
        min-height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
        background-size: cover;
    }

    header {
        background-color: #000;
        width: 100%;
        height: 50px;
        text-align: center;
        padding-top: 20px;
        margin: 0px;
    }

    footer {
        background-color: black;
        width: 100%;
        height: 50px;
        margin-top: 265px;
        color: white;
        text-align: center;
        padding-top: 30px;
        font-size: 18px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
</style>
<body>
    <header>
        <img src="~/Content/Images/SlonikLogo.jpg" style="width: 4%; margin: 0px; float: left; margin-left: 150px; border-radius: 50px; margin-top: -15px">
        <p style="color: white; float: left; font-family: arial; font-size: 30px;margin: 0; margin-left: 25px; ">Slonik working</p>
    </header>

    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <h4>Логин</h4>
                <input class="col-md-10" style="margin-top:-30px;" type="text" asp-for="Name" />
                <span asp-validation-for="Name" />
            </div>
            <div class="form-group">
                <h4>Пароль</h4>
                <input class="col-md-10" style="margin-top:-30px;" asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-7">
                    <input type="submit" value="Войти" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <footer>
        <p>&copy; @DateTime.Now.Year - Vysotskyi Oleksandr по вопросам сотрудничества обращятся Tel+380971601613</p>
    </footer>
</body>